[
  {
    "scope": "https://api.instagram.com:443",
    "method": "get",
    "path": "/v1/users/search?access_token=4079668.b8be642.23e3d425f2184d8b9782ba1fed386c86&q=samtgarson",
    "body": "",
    "status": 200,
    "response": {
      "data": [
        {
          "full_name": "Sam Garson",
          "id": "4079668",
          "bio": "Designer/Developer in London",
          "username": "samtgarson",
          "website": "http://samgarson.com/",
          "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/11348090_384992035024860_251466201_a.jpg"
        }
      ],
      "meta": {
        "code": 200
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "x-ratelimit-limit",
      "500",
      "Content-Language",
      "en",
      "x-ratelimit-remaining",
      "490"
    ]
  }
]